$primary: #1890ff;
$primary-hover: #0280b3;

// text
$text-light: #fff;


// Background
$background-dark: #001b35;
$background-grey: #f0f3f4;
$background-dark-web: #16212b;


$background-white: #f9f9f9;
$text-dark: #252B48;
$background: #f7f7f7;
$box-shadow:0px 0px 4px #bfbfbf;

//Dark mode
// $background-white: #1d1d1d;
// $text-dark: #e1e1e1;
// $background: #292929;
// $box-shadow:0px 0px 4px #121212;



// Border
$border-grey: #808080;

// Status
$success: #84b84c;
$error: #9f3a38;

// Social Color
$youtube: #cd201f;
$twitter: #1da1f2;
$facebook: #3b5998;
$linkedin: #0077b4;
